#buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 120px;
}

#buttonContainer .button {
  color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

#buttonContainer .button:hover{
  color: #22b3c1;
}

#buttonContainer .button a {
  font-size: 16px;
  text-align: center;
}

.modalContainer {
  margin-top: 25px;
  gap: 20px;
  position: relative;
}

.modalContent >:nth-child(n+2) {
  padding: 5px;
  border-top: 1px dotted grey;
}

.modalContent .modalTitle {
  font-weight: bold;
  font-size: 25px;
  color: #3fa3ac;
  margin-left: 25px;
}

.listdate{
  margin-top: 5px;
  margin-bottom: 5px;
}

.address {
  margin-top: 15px;
  margin-bottom: 5px;
}

.overview {
  margin-top: 5px;
  margin-bottom: 5px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

#closeButton i {
  font-size: 40px;
}
